.DS_Store
/build
/tags

# vim swap files
*.swp
*.swo



# new cmake, cmake config, ccmake

CMakeCache.txt
CMakeFiles/
*.cmake
external/Makefile
external/miniupnpc/libminiupnpc.a
miniupnpcstrings.h
src/Makefile
version/

# when building into src/
src/*.a
src/CMakeLists.txt
src/Makefile
src/bitmonerod
src/bitmonerod.log

# precompiled headers
src/epee/*.gch

