.DS_Store
/build
/tags

# vim swap files
*.swp
*.swo

# cmake cache (if run in old way in build/ - should be not used)
src/CMakeCache.txt
src/CMakeFiles/

# logs
log/

# dr-monero 
utils/dr-monero/*.o
utils/dr-monero/*.pro.user
