[submodule "external/miniupnp"]
	path = external/miniupnp
	url = https://github.com/miniupnp/miniupnp
[submodule "external/rapidjson"]
	path = external/rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "external/randomx"]
	path = external/randomx
	url = https://github.com/tevador/RandomX
[submodule "external/supercop"]
	path = external/supercop
	url = https://github.com/monero-project/supercop
	branch = monero
[submodule "external/gtest"]
	path = external/gtest
	url = https://github.com/google/googletest.git
[submodule "external/fcmp-plus-plus"]
	path = external/fcmp-plus-plus
	url = https://github.com/kayabaNerve/fcmp-plus-plus.git
[submodule "external/mx25519"]
	path = external/mx25519
	url = https://github.com/jeffro256/mx25519
	branch = unclamped
