[Unit]
Description=Electroneum Full Node
After=network.target

[Service]
User=electroneum
Group=electroneum
WorkingDirectory=~

Type=forking
PIDFile=/var/run/electroneumd.pid

ExecStart=/usr/bin/electroneumd --config-file /etc/electroneumd.conf \
    --detach --pidfile /var/run/electroneumd.pid

[Install]
WantedBy=multi-user.target
