[Unit]
Description=Monero Full Node
After=network.target

[Service]
User=monero
Group=monero
WorkingDirectory=/var/lib/monero
Type=simple
ExecStart=/usr/local/bin/monerod --config-file /etc/monero/monerod.conf --non-interactive

Restart=always
RestartSec=5

RemoveIPC=yes
NoNewPrivileges=yes
PrivateDevices=yes
ProtectClock=yes
ProtectKernelLogs=yes
ProtectControlGroups=yes
ProtectKernelModules=yes
SystemCallArchitectures=native
RestrictNamespaces=yes
RestrictSUIDSGID=yes
ProtectHostname=yes
LockPersonality=yes
ProtectKernelTunables=yes
ProtectSystem=strict
ReadWritePaths=/var/lib/monero /var/log/monero
ProtectProc=invisible
ProcSubset=pid
ProtectHome=yes
PrivateUsers=yes
PrivateTmp=yes
RestrictAddressFamilies=AF_INET AF_INET6
RestrictRealtime=yes

UMask=077 # We could use 177 but monerod need to create the lmdb dir
CapabilityBoundingSet=
SystemCallFilter=@system-service # Could be futher restricted with a custom syscall list
SystemCallFilter=~ @resources @privileged memfd_create # memfd_create forbidden following systemd recommendations
InaccessiblePaths=/dev/shm # follow recommendations here: https://www.freedesktop.org/software/systemd/man/systemd.exec.html#MemoryDenyWriteExecute=

## Protect from memory vulnerabilities, cause a performance hit
## Check https://github.com/GrapheneOS/hardened_malloc
## The performance hit can be mitigated with MONERO_RANDOMX_FULL_MEM=1
# Environment="LD_PRELOAD=/usr/local/lib/libhardened_malloc_default.so"

## Protect from memory vulnerabilities, cause a performance hit
## The performance hit can be mitigated with MONERO_RANDOMX_FULL_MEM=1
# MemoryDenyWriteExecute=yes
# Environment="MONERO_RANDOMX_UMASK=8" # Disable RandomX JIT, needed for MemoryDenyWriteExecute=yes

## Use full RandomX dataset, speed up verification
# Environment="MONERO_RANDOMX_FULL_MEM=1"

## Can be used to protect the system from a monerod trigerred OOM
## Cannot be set much smaller than 4GB without risking to crash the daemon
## Any free RAM will be used for LMDB caching, thus improving performance
# MemoryMax=8G

[Install]
WantedBy=multi-user.target
