[Unit]
Description=Monero Full Node
After=network.target

[Service]
User=monero
Group=monero
WorkingDirectory=~
RuntimeDirectory=monero

Type=forking
PIDFile=/run/monero/monerod.pid

ExecStart=/usr/bin/monerod --config-file /etc/monerod.conf \
    --detach --pidfile /run/monero/monerod.pid

[Install]
WantedBy=multi-user.target
